
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
}



.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
}

.publish-btn {
    background: #42b263;
    border: 1px solid #42b263; 
    color: #fff;
    cursor: pointer;
    /* font-family: Helvetica, Arial, sans-serif; */
    margin: 0;
    user-select: none;
    /* white-space: nowrap; */
    /* padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none; */
    /* display: inline-block; */
}

.img-gallery {
    height: 100px;
}

#color-wheel, button:hover {
    cursor: pointer;
}

input:focus {
    background-color: wheat;
    border-color: red;
}

.focus {
    background-color: wheat;
    border-color: red;
}

.main-grid-container {
    height: 100%;
    display: grid;
    Grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: black;
}

.main-grid-container > div {
    text-align: center;
    /* padding: 20px 0; */
}

.hidden {
    display: none;
}

.header {
    grid-column: 1 / 12;
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;

}

.back-to-gallery {
    grid-column: 1 / 2;
}

.pictur-description {
    grid-column: 2 / 3;
}

.brows-btn {
    grid-column: 3 / 4;
}

.text-container {
    grid-column: 1 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr 9fr 1fr;
}

#add-line {
    grid-column: 1 / 2;
}

#delete-line {
    grid-column: 2 / 3;
}

#custom-text {
    grid-column: 3 / 4;
}

#switch-line {
    grid-column: 4 / 5;
}

.style-container {
    background-color: darkgrey;
    grid-column: 1 / 12;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}


#style-item-1 {
    grid-column: 1 / 2;
}

#style-item-2 {
    grid-column: 2 / 3;
}
#style-item-3 {
    grid-column: 3 / 4;
}
#color-wheel {
    height: 95%;
    width: 90%;
    grid-column: 4 / 5;
}

#style-item-4 {
    grid-column: 5 / 6;
}

#style-item-5 {
    grid-column: 6 / 7;
}
#style-item-6 {
    grid-column: 7 / 8;
}
#style-item-7 {
    grid-column: 8 / 9;
}
#style-item-8 {
    grid-column: 9 / 10;
}
#style-item-9 {
    grid-column: 10 / 11;
}
#style-item-10 {
    grid-column: 11 / 12;
}

.canvas-container {
    grid-column: 1 / 12;
}

.footer {
    background-color: red;
    grid-column: 1 / 12; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#dwnld-btn {
    grid-column: 1 / 2;
}

#about {
    grid-column: 2 / 3;
}

.publish-form-container {
    grid-column: 3 / 4;
}

.img-gallery {
    grid-column: 1 / 12; 
}