* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    color: white;
    background-image: url(/bgImg/stars-1436950_960_720.jpg) ;
			background-position: center center;
			background-repeat: repeat;
			background-attachment: inherit;
			background-size:  cover;
			background-color: #999;
}

.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.publish-btn {
    background: red;
    /* border: 1px solid #42b263;  */
    color: #fff;
    cursor: pointer;
    /* font-family: Helvetica, Arial, sans-serif; */
    margin: 0;
    user-select: none;
    /* white-space: nowrap; */
    /* padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none; */
    /* display: inline-block; */
}

.img-gallery {
    /* background-color: black; */
    padding: 15px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-item {
    width: 150px;
    margin: 5px;
    transition: 0.3s;
    border: 2px solid lightblue;
    border-radius: 10%;
}

.gallery-item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    
}

.gallery-item img:hover {
    
}

#color-wheel, button:hover {
    cursor: pointer;
}

input:focus {
    background-color: wheat;
    border-color: red;
}

.focus {
    background-color: wheat;
    border-color: red;
}

.main-grid-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.main-grid-container > div {
    text-align: center;
    /* padding: 20px 0; */
}

.hidden {
    display: none;
}

.header {
    height: 10%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-gallery {
    flex-basis: 10%;
}

/* .fa-chevron-left {
    float: left;
} */

.pictur-description {
    flex-basis: 70%;
}

.brows-btn {
    flex-basis: 10%;
    background-color: black;
    color: blue;
}

.text-container {
    height: 10%;
    display: flex;
    
}

#add-line {
    flex-basis: 10%;
    background-color: black;
    color: white;

}

#delete-line {
    flex-basis: 10%;
    background-color: black;
    color: white;

}

#custom-text {
    flex-basis: 70%;
}

#switch-line {
    flex-basis: 10%;
    background-color: black;
    color: white;

}

.style-container {
    background-color: darkgrey;
    display: flex;
    justify-content: space-around;
}

.style-container button {
   flex-basis: 8.3333%;
   border: none;
   background-color: red;
}

#color-wheel {
    flex-basis: 16.66666%;
    background-color: red;
}

.canvas-container {
    
}

.footer {
    background-color: red;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dwnld-btn {
    
}

#about {
    
}

.publish-form-container {
    
}

.img-gallery {
     
}

.gallery-header {
    flex-basis: 90%;
    background-color: lightblue;
    text-align: center;
    font-size: 33px;
    color: darkblue;
    border-radius: 10px;
}